NODE_ENV=development
PORT=3000
HOST=0.0.0.0

# Banco de dados (usar movies-stack para subir o PostgreSQL)
DATABASE_URL=postgresql://postgres:postgres@localhost:5435/books

# CORS - URL do frontend
WEB_URL=http://localhost:3000

# Swagger
API_NAME=Books API
